<div>
	<%= universidad.nombre %>
    <%= link_to 'Show', universidad %>
    <% if usuario_signed_in? %>
		<%= link_to 'Edit', edit_universidad_path(universidad) %>
	    <%= link_to 'Destroy', universidad, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
</div>
