<div class="columns on-3 profesor-entry">
  <div class="container wrapper">
    <div class="column fixed image" style="width: 50px">
      <div class="container">
      </div>
    </div>
    <div class="column fixed info" style="width: 400px">
      <div class="container">
        <h1 class="resource-link">
          <% if can? :read, universidad %>
            <%= link_to truncate(universidad.nombre, :length => 60), universidad_campus_index_path(universidad), :title => universidad.nombre, :class => "tooltip beautiful_link" %>
          <% end %>
        </h1>
				<span><%= pluralize(universidad.campus.size, "Campus") %></span>
      </div>
    </div>
    <div class="column fixed date" style= "width: 200px">
      <br/><h5>Calificándose desde</h5> 
      <h2><%=l universidad.created_at, :format => :mes_dia_ano %></h2>
    </div>
  </div>
</div>
