<%= text_field_tag :q %>


<h1>Listing universidades</h1>

<div id="listado">
	<%= render @universidades %>
</div>
<br />

<%= link_to 'Nueva Universidad', new_universidad_path %>

<script>
	
	$("#q").bind("textchange", function(){
		$.get("/universidades.js", {q: $("#q").val()});
	});
	
</script>