<% content_for :header do %>
  <h1>Campus en <%=@campus.first.universidad.nombre %></h1>
<% end %>


<div id="listado">
	<%= render @campus %>
</div>
<br />

<%= link_to "Nuevo Campus", new_campus_path if can? :create, Campus %>

<div id="next_link">
</div>


