<% content_for :header do %>
  <h1>Campus</h1>
<% end %>

<h3>Se encontraron <span id="resultados_campus"><%= @campus.size %></span> resultados</h3>
<br />

<div id="listado">
	<%= render @campus %>
</div>
<br />

<%= link_to "Nuevo Campus", new_campus_path if can? :create, Campus %>

<div id="next_link">
</div>


