<% form_tag(profesores_path, :method => :get, :autocomplete => "off") do  %>
	<%= text_field_tag :profesor_q %>
	<%= submit_tag "Enviar", :name => nil %>
<% end %>

<h1>Listing profesores</h1>

<div id="listado">
	<%= render @profesores %>
</div>
<br />

<%= link_to 'New Profesor', new_profesor_path if can? :create, Profesor  %>

