<%= render 'shared/search_form', :url => '/profesores' %>

<h1>Listing profesores</h1>

<div id="listado">
	<%= render @profesores %>
</div>
<br />

<%= link_to 'New Profesor', new_profesor_path %>

<script>
	$("#q").bind("textchange", function(){
		$.get("/profesores.js", {q: $("#q").val()});
	});
</script>
