* {
	margin:0px;
}

html, body {
	height:100%;
}

html {
	margin:0px;
	padding:0px;
}

/*
 Main classes
*/
.main-container
{
  width: 752px;
  margin: 0 auto;
}
.content
{
  background: url('../images/content-bg.gif') repeat scroll center top #e3e3e3;
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding-top: 20px;
  box-shadow: 3px 3px 7px #333;
}
.content .unit
{
  padding: 20px;
}
#main-content
{
  margin-top: -92px;
  z-index: 1;
  position: relative;
}

/*
 Profesor en listado
*/
.profesor-entry .wrapper
{
  background: url('../images/profesor-entry-bg.gif');
  border: 1px solid #e7e7e7;
}
.profesor-entry .image img
{
  display: block;
  padding: 10px;
  background-color: #e0e0e0;
  border: 1px solid #ffffff;
}
.profesor-entry
{
  background: url('../images/profesor-entry-shadow.png') no-repeat center bottom;
  padding-bottom:20px;
}
.profesor-entry .column .container
{
  padding: 20px;
}
.profesor-entry .info .container
{
  padding-left: 0;
  text-shadow: 1px 1px 0px #ffffff;
}
.profesor-entry h3,
.profesor-entry h3 a
{
  font-size:32px;
  line-height:32px;
  color: #2a2a2a;
  text-decoration: none;
}
.profesor-entry .universidades a
{
  background-color: #cccccc;
  padding: 7px 10px;
  text-decoration: none;
  color: #666666;
}
.profesor-entry .universidades
{
  color: #666666;
  font-weight: bold;
  height: 30px;
  margin-top: 30px;
}
.profesor-entry .cursos
{
  font-style: italic;
  color: #999999;
  margin-top: 20px;
}
.profesor-entry .cursos a
{
  color: #999999;
}
.profesor-entry .rating .calif
{
  background: url('../images/rating-bg.png') no-repeat center top;
  height: 72px;
}
.profesor-entry .rating .calif.resen
{
  background: url('../images/resen-bg.png') no-repeat center top;
}
.profesor-entry .amount
{
  position: absolute;
  width:100%;
  text-align: center;
  font-size: 16px;
  top: 37px;
}
.profesor-entry .rating .container
{
  padding-bottom: 0;
  padding-top: 13px;
}
.profesor-entry .calif
{
  position:relative;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 0px #2B3F13;
}
.profesor-entry .rating .label
{
  position:absolute;
  top: 15px;
  text-align: center;
  width:100%;
}


/*
Estilo de forma generica
*/

.generic-form input[type=text], textarea, input[type=password] {
	background-color: #CCC;
  	border: medium none;
  	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 2px #999999 inset;
 	color: #333333;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 10px;
	text-shadow: 1px 1px 0 #dddddd;
	
}

.generic-form input[type=text], input[type=password] {
	width: 200px;
}

.contact-form input[type=submit] {
	background: url("../images/header-bg.jpg") no-repeat scroll center top #364f18;
	border: 1px solid #79A83A; /*medium none;*/
  	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 2px #999999 inset;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 10px;
	text-shadow: 1px 1px 0 #dddddd;
	width: 120px;
	color:#333;
}

.generic-form input[type=submit] {
	background: url("../images/header-bg.jpg") no-repeat scroll center top #364f18;
	border: 1px solid #79A83A; /*medium none;*/
  	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 2px #999999 inset;
	font-size: 13px;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	color:#333;
}

a.social-login img {
	width:70%;
	height:70%;
}

a.social-login {
	display:block;
	margin-bottom:3px;
}

div#vertical-line {
	border-right:1px solid #ccc;
	min-height:175px;
}

a#forgot_password {
	display:block;
	margin-top:5px;
	color:#79A83A;
	text-decoration: none;
	font-weight:bold;
	font-size:12px;
}

a#forgot_password:hover {
	text-decoration:underline;
}

.sign_up_header {
	display:inline;
	margin:0px 5px;
}

.sign_up_header a {
	color:#79A83A;
	text-decoration: none;
	font-weight:bold;
}

.sign_up_header a:hover {
	text-decoration: underline;	
}

/*
 Forma de busqueda
*/
.search-form input
{
  background-color: #CCCCCC;
  border: medium none;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px 2px #999999 inset;
  color: #333333;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 10px;
  text-shadow: 1px 1px 0 #dddddd;
  width: 135px;
}
input
{
  font-family: Helvetica, Arial, sans-serif;
}

/*
 Contador de resultados
*/
.unit.result-count
{
  padding: 0;
  padding-bottom: 20px;
  background: url('../images/results-shadow.png') no-repeat center bottom;
}
.result-count .container
{
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  background-color: #eeeeee;
  padding: 20px;
}

/*
 Ver mas resultados
*/
.more-results
{
  text-align: center;
  border-top: 1px solid #cccccc;
  text-shadow: 1px 1px 0 #dddddd;
	padding: 20px 20px 0px !important;
}
.more-results a
{
  color: #666666;
  text-decoration: none;
}


/*
 Footer
*/
#footer
{
  background-color: #5E852C;
  padding-top: 50px;
  border-top: 1px solid #79A83A;
  margin-top: -65px;
}
#footer .wrapper
{
  background-color: #1B1713;
  border-top: 1px solid #514439;
  color: #666666;
  padding-bottom: 100px;
}
#footer h2
{
  background: url("../images/footer-header.png") no-repeat scroll 0 0 transparent;
  height: 107px;
  margin-left: -15px;
  overflow: hidden;
  position: relative;
  text-indent: -99em;
  width: 757px;
  z-index: 99;
}
#footer ul
{
  padding: 0;
  padding-left: 20px;
}
#footer li
{
  list-style-type: none;
  border-bottom: 1px dotted #ffffff;
  width: 200px;
  padding: 5px;
}
#footer a
{
  text-decoration: none;
  color: #666666;
  font-size: 13px;
}

/*
 Header
*/
#header
{
  background-color: #1B1713;
  padding-bottom: 50px;
  border-bottom: 1px solid #514439;
  padding-top: 37px;
}
#header .wrapper
{
  background: url("../images/header-bg.jpg") no-repeat scroll center top #364f18;
  height: 197px;
  border-bottom: 1px solid #79A83A;
}
#logo
{
  background: url("../images/calmecac.png") no-repeat scroll 0 0 transparent;
  display: block;
  float: left;
  height: 49px;
  margin-left: 20px;
  margin-top: 67px;
  overflow: hidden;
  text-indent: -99em;
  width: 277px;
}
#logo-image
{
  float: left;
  margin-top: 15px;
  position: relative;
  z-index: 10;
}

/*
 Navigation
*/
#navigation
{
  background: url("../images/top-bg.png") repeat-x scroll 0 0 transparent;
  height: 36px;
  border-bottom: 1px solid #79A83A;
  position: fixed;
  width: 100%;
  z-index: 100;
}
#navigation a
{
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px 1px #4E7123;
  font-weight: bold;
  font-size: 13px;
  margin-right: 20px;
}
#navigation .main-container
{
  padding: 10px;
}

/*
 Previous
*/
body {
 	 background: url("../images/body-bg.jpg") repeat scroll center top #372c24;
	 font-family: Helvetica, Arial, sans-serif;
	 font-size: 14px;
	 padding:0px;
	 margin:0px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
}

#content {
	width: 75%;
	margin: 0 auto;
	background-color: #FFF;
	padding: 10px;
	border: solid 1px black;
	margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


input.token_field {
	overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 385px !important;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 2px 0px;
    padding: 3px 8px;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

/*Header*/

div#sessions {
	text-align:right;
	margin-right:15px;
}

div#menu_container {
	margin-left:15px;
}

/*Header*/


/*Footer*/


#footer {
    
}

div#footer_menu_container {
	width:300px;
	text-align:center;
	margin:10px auto;
}
/*Footer*/

ul#cursos {
	list-style:none;
}

ul#cursos li {
	display:inline;
	padding:10px;
}

div#calificaciones {
	width:90%;
	margin:10px auto;
	border:1px solid #ccc;
}

div#curso_profesor {
	width:90%;
}

div.test {
	position:absolute;
	top:50%;
	bottom:50%;
	right:50%;
	left:50%;
	
	
}


div.calificaciones_comentarios {
	border:1px solid #ccc;
	margin-bottom:10px;
	padding:10px;
}

div.comment {
	margin-left:20px;
	border-top:1px dashed #ccc;
	padding:5px;
}

div.comment span {
	float:right;
	font-size:10px;
	font-style:italic;
}

div.comments {
	background:#eee;
	border:1px solid #ccc;
	margin:10px;
}

