* {
	margin:0px;
}

html, body {
	height:100%;
}

html {
	margin:0px;
	padding:0px;
}

/*
 Main classes
*/
.main-container
{
  width: 752px;
  margin: 0 auto;
}
.content
{
  background: url('../images/content-bg.gif') repeat scroll center top #e3e3e3;
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding-top: 20px;
  box-shadow: 3px 3px 7px #333;
}
.content .unit
{
  padding: 20px;
}
#main-content
{
  margin-top: -92px;
  z-index: 1;
  position: relative;
}

/*
 Profesor en listado
*/
.profesor-entry .wrapper
{
  background: url('../images/profesor-entry-bg.gif') repeat-x #EFEFEF;
  border: 1px solid #e7e7e7;
}
.profesor-entry .image img
{
  display: block;
  padding: 10px;
  background-color: #e0e0e0;
  border: 1px solid #ffffff;
}
.profesor-entry
{
  background: url('../images/profesor-entry-shadow.png') no-repeat center bottom;
  padding-bottom:20px;
}
.profesor-entry .column .container
{
  padding: 20px;
}
.profesor-entry .info .container
{
  padding-left: 0;
  text-shadow: 1px 1px 0px #ffffff;
}
.profesor-entry h3,
.profesor-entry h3 a
{
  font-size:32px;
  line-height:32px;
  color: #2a2a2a;
  text-decoration: none;
}

.profesor-entry h4,
.profesor-entry h4 a
{
  font-size:15px;
  line-height:32px;
  color: #2a2a2a;
  text-decoration: none;
}
.profesor-entry .universidades a
{
  background-color: #cccccc;
  padding: 7px 10px;
  text-decoration: none;
  color: #666666;
}
.profesor-entry .universidades
{
  color: #666666;
  font-weight: bold;
  height: 30px;
  margin-top: 30px;
}
.profesor-entry .cursos
{
  font-style: italic;
  color: #999999;
  margin-top: 20px;
}
.profesor-entry .cursos a
{
  color: #999999;
}
.profesor-entry .rating .calif
{
  background: url('../images/rating-bg.png') no-repeat center top;
  height: 72px;
}
.profesor-entry .rating .calif.resen
{
  background: url('../images/resen-bg.png') no-repeat center top;
}
.profesor-entry .amount
{
  position: absolute;
  width:100%;
  text-align: center;
  font-size: 16px;
  top: 37px;
}
.profesor-entry .rating .container
{
  padding-bottom: 0;
  padding-top: 13px;
}
.profesor-entry .calif
{
  position:relative;
  font-size: 11px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 0px #2B3F13;
}
.profesor-entry .rating .label
{
  position:absolute;
  top: 15px;
  text-align: center;
  width:100%;
}


/*
Estilo de forma generica
*/

.generic-form input[type=text], textarea, input[type=password] {
	background-color: #CCC;
  	border: medium none;
  	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 2px #999999 inset;
 	color: #333333;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 10px;
	text-shadow: 1px 1px 0 #dddddd;
    border:1px solid #999;
	
}

.generic-form input[type=text], input[type=password] {
	width: 200px;
}

input.token_field-calmecac {
	background-color: #CCC;
  	border: medium none;
  	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 2px #999999 inset;
 	color: #333333;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 10px;
	text-shadow: 1px 1px 0 #dddddd;
    border:1px solid #999;
	width:150px;
}

.contact-form input[type=submit] {
	background: url("../images/header-bg.jpg") no-repeat scroll center top #364f18;
	border: 1px solid #79A83A; /*medium none;*/
  	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 2px #999999 inset;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 10px;
	text-shadow: 1px 1px 0 #dddddd;
	width: 120px;
	color:#333;
}

.generic-form input[type=submit], .comentario_form input[type=submit] {
	background: url("../images/header-bg.jpg") no-repeat scroll center top #364f18;
	border: 1px solid #79A83A; /*medium none;*/
  	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 2px #999999 inset;
	font-size: 13px;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	color:#333;
}

div.actions {
	float:left;
	margin-top:8px;
	margin-right:20px;
}

div.actions-busq {
	float:right;
	margin-top:8px;
	margin-right:20px;
}

div.actions input[type=submit] {
	background: url("../images/header-bg.jpg") no-repeat scroll center top #364f18;
	border: 1px solid #79A83A; /*medium none;*/
  	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 2px #999999 inset;
	font-size: 13px;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	color:#333;
}

div.actions-busq input[type=submit] {
	background: url("../images/header-bg.jpg") no-repeat scroll center top #364f18;
	border: 1px solid #79A83A; /*medium none;*/
  	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 2px #999999 inset;
	font-size: 13px;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	color:#333;
}

a.social-login img {
	width:213px;
}

a.social-login {
	display:block;
	margin-bottom:3px;
}

div#vertical-line {
	border-right:1px solid #ccc;
	min-height:175px;
}

a#forgot_password {
	display:block;
	margin-top:5px;
	color:#79A83A;
	text-decoration: none;
	font-weight:bold;
	font-size:12px;
	text-shadow: 1px 1px 0 #FFFFFF;
}

a#forgot_password:hover {
	text-decoration:underline;
}

.sign_up_header {
	display:inline;
	margin:0px 5px;
    text-shadow: 1px 1px 0 #FFFFFF;
}

.sign_up_header a, a.beautiful_link {
	color:#000;
	text-decoration: none;
	font-weight:bold;
}

a.beautiful_link {
	text-shadow: 1px 1px 0 #FFFFFF;
}

.resource-link a.beautiful_link {
	text-shadow: 1px 1px 0 #ccc;
}

div.date {
	font-style:italic;
	font-size:80%;
}

.sign_up_header a:hover, a.beautiful_link:hover {
	text-decoration: underline;	
}

/*
 Forma de busqueda
*/
.search-form input
{
  background-color: #CCCCCC;
  border: medium none;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px 2px #999999 inset;
  color: #333333;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 10px;
  text-shadow: 1px 1px 0 #dddddd;
  width: 135px;
}
input
{
  font-family: Helvetica, Arial, sans-serif;
}

/*
 Contador de resultados
*/
.unit.result-count
{
  padding: 0;
  padding-bottom: 20px;
  background: url('../images/results-shadow.png') no-repeat center bottom;
}
.result-count .container
{
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  background-color: #eeeeee;
  padding: 20px;
}

/*
 Ver mas resultados
*/
.more-results
{
  text-align: center;
  border-top: 1px solid #cccccc;
  text-shadow: 1px 1px 0 #dddddd;
	padding: 20px 20px 0px !important;
}
.more-results a
{
  color: #666666;
  text-decoration: none;
}


/*
 Footer
*/
#footer
{
  background-color: #5E852C;
  padding-top: 50px;
  border-top: 1px solid #79A83A;
  margin-top: -65px;
}
#footer .wrapper
{
  background-color: #1B1713;
  border-top: 1px solid #514439;
  color: #666666;
  padding-bottom: 100px;
}
#footer h2
{
  background: url("../images/footer-header.png") no-repeat scroll 0 0 transparent;
  height: 107px;
  margin-left: -15px;
  overflow: hidden;
  position: relative;
  text-indent: -99em;
  width: 757px;
  z-index: 1;
}
#footer ul
{
  padding: 0;
  padding-left: 20px;
}
#footer li
{
  list-style-type: none;
  border-bottom: 1px dotted #ffffff;
  width: 200px;
  padding: 5px;
}
#footer a
{
  text-decoration: none;
  color: #666666;
  font-size: 13px;
}

/*
 Header
*/
#header
{
  background-color: #1B1713;
  padding-bottom: 50px;
  border-bottom: 1px solid #514439;
  padding-top: 37px;
}
#header .wrapper
{
  background: url("../images/header-bg.jpg") no-repeat scroll center top #364f18;
  height: 197px;
  border-bottom: 1px solid #79A83A;
}
#logo
{
  background: url("../images/calmecac.png") no-repeat scroll 0 0 transparent;
  display: block;
  float: left;
  height: 49px;
  margin-left: 20px;
  margin-top: 67px;
  overflow: hidden;
  text-indent: -99em;
  width: 277px;
}
#logo-image
{
  float: left;
  margin-top: 15px;
  position: relative;
  z-index: 10;
}

/*
 Navigation
*/
#navigation
{
  background: url("../images/top-bg.png") repeat-x scroll 0 0 transparent;
  height: 36px;
  border-bottom: 1px solid #79A83A;
  position: fixed;
  width: 100%;
  z-index: 100;
}
#navigation a
{
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px 1px #4E7123;
  font-weight: bold;
  font-size: 13px;
  margin-right: 20px;
}
#navigation .main-container
{
  padding: 10px;
}

/*
 Previous
*/
body {
 	 background: url("../images/body-bg.jpg") repeat scroll center top #372c24;
	 font-family: Helvetica, Arial, sans-serif;
	 font-size: 14px;
	 padding:0px;
	 margin:0px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
}

#content {
	width: 75%;
	margin: 0 auto;
	background-color: #FFF;
	padding: 10px;
	border: solid 1px black;
	margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
position:absolute;
right:1%;
top:-155px;
width:400px;
text-align:center;
z-index:1;
padding: 5px 8px;
margin: 10px 0;
}

#flash_notice {
  background-color: #FFF6BF;
  border: 3px solid #FFD324;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
}

#flash_error, #flash_alert {
  	background-color:#FCC;
	border:solid 3px #C66;
	border-radius: 10px 10px 10px 10px;
	padding: 10px;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  background-color:#FCC;
	border:solid 3px #C66;
	border-radius: 10px 10px 10px 10px;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
  font-size:120%;
  font-weight:bold;
}

.error_messages ul {
  margin: 0 35px;
}


input.token_field {
    background-color: #CCCCCC;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 2px #999999 inset;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    padding: 7px 10px;
    text-shadow: 1px 1px 0 #DDDDDD;
    width: 232px;
    border: 1px solid #999;
}

/*Header*/

div#sessions {
	text-align:right;
	margin-right:15px;
}

div#menu_container {
	margin-left:15px;
}

/*Header*/


/*Footer*/


#footer {
    
}

div#footer_menu_container {
	width:300px;
	text-align:center;
	margin:10px auto;
}
/*Footer*/



div#calificaciones {
	width:90%;
	margin:10px auto;
	border:1px solid #ccc;
}

div#curso_profesor {
	width:90%;
}

div.test {
	position:absolute;
	top:50%;
	bottom:50%;
	right:50%;
	left:50%;
	
	
}


div.calificaciones_comentarios {
	margin-bottom:10px;
	padding:0px 10px 0px 10px;
}

div.comment {
	margin-left:10px;
	margin-right:10px;
	padding:5px;
	border-bottom:1px dashed #ccc;
}

div.comment span {
	float:right;
	font-size:10px;
	font-style:italic;
}

div.comments {
	background:#eee;
	margin-bottom:8px;
}

div#profesor_image {
	padding:6px;
	border:1px solid #ccc;
	width:180px;
	height:180px;
}

div#promedio {
	text-align:center;
}

div#caracteristicas_profesor {
	margin-top:20px;
}

.profesor-universidad {
	margin-top:10px;
	font-style: italic;
	font-weight:bold;
}

.profesor-universidad a {
	text-decoration:none;
	color:#999;
}

.profesor-universidad a:hover {
	text-decoration:underline;
}

.link-tab {
	cursor:pointer;
}

div.comentarios_content {
	border:1px solid #ccc;
	margin-top:10px;
	background-color: #eee;
}

form.comentario_form textarea {
	background-color: #CCC;
  	border: medium none;
  	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 2px #999999 inset;
 	color: #333333;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 10px;
	text-shadow: 1px 1px 0 #dddddd;
	width:94%;
	margin:0px 8px;
	overflow:hidden;
}

form.comentario_form .actions {
	text-align:right;
	margin:4px 9px 4px 0px;
}

div.calificacion_actions {
	text-align:center;
	width:70px;
	padding:4px;
	border: medium none;
	border:1px solid #ccc;
	border-radius: 20px;
	min-height:20px;
	float:right;
}

div.calificacion_actions:hover {
	background-color:#EFEFEF;
}

div.calificacion_actions .like {
	min-width:13px;
	background-image:url(/images/like_flag.png);
	min-height:16px;
	background-position:0px 0px;
	display:inline-block;
	white-space:nowrap;
	background-repeat:no-repeat;
	margin-right:5px;
}


div.calificacion_actions .unlike {
	min-width:13px;
	background-image:url(/images/like_flag.png);
	min-height:16px;
	background-position:0px -17px;
	display:inline-block;
	white-space:nowrap;
	background-repeat:no-repeat;
	margin-right:10px;
}


div.calificacion_actions .flag {
	min-width:13px;
	background-image:url(/images/flag.png);
	min-height:18px;
	background-position:0px 2px;
	display:inline-block;
	white-space:nowrap;
	background-repeat:no-repeat;
}

div.calificacion_actions .unflag {
	min-width:13px;
	background-image:url(/images/flag.png);
	min-height:18px;
	background-position:0px -16px;
	display:inline-block;
	white-space:nowrap;
	background-repeat:no-repeat;
}

div.calificacion_actions a.like:hover {
	background-position:0px -17px;
}

div.calificacion_actions a.flag:hover {
	background-position:0px -16px;
}

div.comments_count_container {
	font-size:18px;
	display:inline;
}


span.califa_actions_counter {
	font-size:8px;
	margin-right:2px;
}

div.critica {
	margin-top:10px;
	padding:10px;

}

span.username {
	color:#327E04;
	margin-right:5px;
}

span.crititca_created_at {
	font-size:10px;
	font-style:italic;
}

div.critica_text {
	margin-top:5px;
}

div.actions_calificar {
	text-align:right;
}

span.profesor_detail {
	font-size:16px;
	font-weight:bold;
	margin-left:10px;
}

table#profesor_averages {
	border-collapse: collapse;
	text-align: left;
	border-spacing: 2px 2px;
	margin-top:5px;
	width:100%;
	-moz-box-shadow: 4px 5px 5px #888;
	-webkit-box-shadow: 4px 5px 5px #888;
	box-shadow: 4px 5px 5px #888;
}

tr.odd {
	background-color:#327E04;
	color:white;
}

tr.even {
	background-color:#FFF;
}

tr.odd td ,tr.even td, th {
	padding:5px;
}

div.social-links {
	float:right;
}

.underline{
  text-decoration:underline;
}

span.login-buttons a{
  margin:0px !important;
}

span.login-buttons{
  margin-right:20px;
}

.center{
  text-align:center;
}
