<div>
	<%= f.label :universidad_id, "Universidad" %><br />
  <%= f.text_field :universidad_id, "data-pre" => @universidad_data.to_s %>
</div>

<br />
<div id="campus">
	<%= f.label :campus_id, "Campus" %><br />
  <%= f.text_field :campus_id, :class => "token_field",
	                      "data-url" => @campus_url.to_s, "data-pre" => @campus_data.to_s %>
</div>