<% if !show_more.blank? and !show_more.last_page? %>
	<div class="unit more-results">
		<%= link_to_function "Ver mas resultados", "load_more($('#page').val(), {#{hasht_to_js_hash(parametros)}, 'page' : 'page' }, '#{url}');", :id => "mas" %>
    <%= image_tag 'ajax-loader.gif', :id => "loading", :style => "display:none;" %>
	</div>
<% end %>

<%= hidden_field_tag 'page', params[:page] || 2 %>
