<div>
	<%= curso.nombre %>
  <%= link_to 'Show', curso %>
  <% if usuario_signed_in? %>
	  <%= link_to 'Edit', edit_curso_path(curso) %>
  	<%= link_to 'Destroy', curso, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
  
</div>
