<div class="columns on-3 profesor-entry">
  <div class="container wrapper">
    <div class="column fixed image" style="width: 85px">
      <div class="container">
        <%# link_to (image_tag curso_profesor.profesor.avatar_url(:thumb).to_s), profesor_path(curso_profesor.profesor) %>
      </div>
    </div>
    <div class="column fixed info" style="width: 535px">
      <div class="container">
        <h3>
          <% if can? :read, curso %>
            <%= link_to truncate(curso.nombre, :length => 35), curso, :title => curso.nombre, :class => "tooltip" %>
          <% end %>
        </h3>
        <div class="universidades">
          <%= render 'shared/universidad_campus', :universidad => curso.universidad,
                                                  :campus => curso.campus %>
        </div>
        <div class="cursos">
          <%= links_coma curso.profesores %>
        </div>
      </div>
    </div>
    <!--div class="column fixed rating" style="width: 100px"-->
    <!--/div-->
  </div>
</div>
