<%= render 'shared/search_form', :url => '/cursos' %>


<h1>Listing cursos</h1>

<div id="listado">
	<%= render @cursos %>
</div>
<br />

<%= link_to 'New Curso', new_curso_path %>

<script>
	$("#q").bind("textchange", function(){
		$.get("/cursos.js", {q: $("#q").val()});
	});
</script>
