<% content_for :header do %>
	<h3><%= @curso.nombre %> en <%= @curso.campus.nombre %></h3> 
<% end %>


<%= render @curso.profesores %>


<%= link_to 'Edit', edit_curso_path(@curso) if can? :edit, @curso %>
