<% content_for :header do %>
  <h1>Acerca de Nosotros</h1>
<% end %>
<div>
  <p>
  <b>Calmécac</b> es un proyecto que cree en la sinergia de opinión de estudiantes hacia sus universidades como parte de una mejora continua. El proceso es sencillo, ingresando al sitio podrás retroalimentar el desempeño de tus profesores en base a métricas cautelosamente seleccionadas. Si no existe el profesor, podrás registrarlos fácilmente. Si no existe tu universidad, muy pronto la verás o podrás registrarla tu mismo, estamos creciendo rápidamente. 
  </p><br/><br/><br />

  <h2><i>Misión</i></h2>
  <br />
  <p>
  Nuestra misión es ser la aplicación más utilizada por jóvenes universitarios antes de seleccionar su
  horario académico, la cual sirva como fuente alternativa en su decisión de cursos a
  tomar, y a su vez, que sea un medio transparente para conocer el desempeño de
  los docentes dentro de las aulas universitarias en México.
  </p><br/><br />

  <h2><i>Visión</i></h2>
  <br />
  <p>
  Expandir la base de datos de información a la mayor cantidad de universidades
  dentro y fuera del país, principalmente acaparando Latinoamérica, que no sólo
  sea para la evaluación de los docentes, sino que sirva para evaluar cursos, planes
  de estudio y cualquier otra área que ayude a forjar un robusto sistema de retroalimentación
  universitaria.
  <p/><br/><br />

  <h2><i>Objetivos</i></h2>
  <br />
  <div style="margin-left:40px">
  <ul>
    <li>Transparencia en la información</li>
    <li>Objetividad del contenido</li>
    <li>Sinergia de opinión</li>
  </ul><br/><br />
  </div>

  <h2><i>¿Por qué Calmécac?</i></h2>
  <br />
  <p>
  El Calmécac era la escuela para los hijos de los nobles aztecas. En esta escuela se les entrenaba para ser sacerdotes, guerreros de la élite, jueces, senadores, maestros o gobernantes,
  educándolos en diversas áreas. Para los aztecas era muy importante que sus
  gobernantes fueran aptos para los cargos que ejercerían, y que tuvieran la
  capacidad de tomar sabias decisiones por el pueblo.<br /><br />

  Así como para los aztecas el calmécac era la base de la formación de los
  futuros líderes en su sociedad, esta aplicación busca aplicar el mismo concepto
  del calmécac en las diversas universidades. Con la retroalimentación de estudiantes hacia las múltiples áreas existentes en universidades, las brechas de oportunidad serán detectables fácilmente para su mejora.
  </p><br/><br />

  <h2><i>¿Quiénes somos?</h2></i>
  <br />
  <p>
  Somos un grupo de jóvenes que se ha percatado de la necesidad de transparencia en la información que hacemos llegar a nuestras universidads. Hemos invertido tiempo para emprender la idea, y seguimos
  invirtiendo tiempo para mejorarla, buscando brindar un espacio ameno para los grupos de interés.
  </p><br/><br />

  <h2><i>¿En qué creemos?</i></h2>
  <br />
  <p>
  Creemos en la educación de calidad impartida por gente que es seleccionada
  detenidamente, quienes forjarán a los futuros profesionistas de la mejor manera.
  </p><br/>
</div>
