<% content_for :header do %>
  <h1>Acerca de Nosotros</h1>
<% end %>
<div>
  <p>
  <b>Calmécac</b> es un proyecto que cree en la sinergia de opinión de estudiantes hacia sus universidades como parte de una mejora continua. El proceso es sencillo, iniciando
  sesión en el sitio se puede retroalimentar el desempeño de los profesores en base
  a métricas cautelosamente seleccionadas. Si no existe el profesor, puedes darlos de alta fácilmente, y próximamente daremos la oportunidad de hacer lo mismo con universidades que no existan.
  </p><br/><br/><br />

  <h2><i>Misión</i></h2>
  <br />
  <p>
  Ser la aplicación utilizada por jóvenes universitarios antes de seleccionar su
  horario académico la cual sirva como fuente alternativa en su decisión de cursos a
  tomar, y a su vez, que sea un medio transparente para conocer el desempeño de
  los docentes dentro de las aulas universitarias en México.
  </p><br/><br />

  <h2><i>Visión</i></h2>
  <br />
  <p>
  Expandir la base de datos de información a la mayor cantidad de universidades
  dentro y fuera del país, principalmente acaparando Latinoamérica, que no solo
  sea para la evaluación de los docentes, sino que sirva para evaluar cursos, planes
  de estudios y cualquier otra área para forjar un sistema de retroalimentación
  universitario completo.
  <p/><br/><br />

  <h2><i>Objetivos</i></h2>
  <br />
  <div style="margin-left:40px">
  <ul>
    <li>Objetividad del contenido</li>
    <li>Transparencia en la información</li>
    <li>Sinergia de opinión</li>
  </ul><br/><br />
  </div>

  <h2><i>¿Por qué Calmécac?</i></h2>
  <br />
  <p>
  El Calmécac (del náhuatl calli 'casa', mecatl 'morador' y -c 'lugar') era la escuela
  para los hijos de los nobles aztecas. En esta escuela se les entrenaba para ser
  sacerdotes, guerreros de la élite, jueces, senadores, maestros o gobernantes,
  educándolos en diversas áreas. Para los aztecas era muy importante que sus
  gobernantes fueran aptos para los cargos que ejercerían, y que tuvieran la
  capacidad de tomar sabias decisiones por el pueblo.

  Así como para los aztecas el calmécac era la base de la formación de los
  futuros líderes en su sociedad, esta aplicación busca aplicar el mismo concepto
  del calmécac en las diversas universidades, el cual se hará presente con la
  retroalimentación de los jóvenes hacia las diversas áreas que existen en las
  uniersidades, y que las áreas de oportunidad que persiven los jóvenes sean
  fácilmente detectables para su mejora continua.
  </p><br/><br />

  <h2><i>¿Quiénes somos?</h2></i>
  <br />
  <p>
  Somos un grupo de jóvenes que se ha percatado de la necesidad de esta
  herramienta, quienes hemos invertido tiempo para emprender la idea, y seguimos
  invirtiendo para mejorar el sitio y brindar un espacio de calidad.
  </p><br/><br />

  <h2><i>¿En qué creemos?</i></h2>
  <br />
  <p>
  Creemos en la educación de calidad, impartida por gente que es seleccionada
  detenidamente para transmitir todo su conocimiento y forjar a los futuros
  profesionistas de la mejor manera.
  </p><br/>
</div>
