<% content_for :header do %>
  <h1>Aviso Legal</h1>
<% end %>

<p>
	Todos los materiales contenidos en este Sitio (Incluyendo, pero no limitado a, texto, logotipos, contenido, fotografías, audio y video) están protegidos por las leyes de Derechos de Autor y demás Leyes relativas Internacionales y de los Estados Unidos Mexicanos. El uso de imágenes, fragmentos de videos, y demás material que sea objeto de protección de los derechos de autor, será exclusivamente para fines educativos e informativos, y cualquier uso distinto como el lucro, reproducción, edición o modificación, será perseguido y sancionado por el respectivo titular de los Derechos de Autor y estará sujeto a lo establecido en el apartado de Protección de derechos de autor. 
</p>

<p>
	Queda prohibido copiar, reproducir, distribuir, publicar, transmitir, difundir, o en cualquier modo explotar cualquier parte de este servicio sin la autorización previa por escrito del equipo de Calmecac.me. Sin embargo, los Usuarios podrán bajar material a su computadora personal para uso exclusivamente personal o educacional y no comercial limitado a una copia por página. 
</p>

<p>
	Para cualquier asunto relacionado con este Aviso, por favor contacte a nuestro Departamento Legal.
</p>

<h3>Información publicada</h3>

<p>Los comentarios y/u opiniones expresadas en el sitio Calmecac.me, sobre profesores, maestros, directores y demás personal académico de las Universidades y/o instituciones educativas expuestas en Calmecac.me o de cualquier otra índole, son a título personal e individual de los Usuarios en toda su extensión. Por lo anterior, los mismos no representan la opinión del equipo integrante de Calmecac.me, sus creadores, colaboradores y/o representantes, por lo que cualquier reclamación por los mismos deberá ser entablada en contra del autor del comentario y/u opinión.</p>

<h3>Protección de derechos de autor.</h3>

<p>Los Usuarios al publicar, subir y/o compartir en el sitio (Calmecac.me) cualquier tipo de información (imágenes, extractos de escritos, etc.), relativa a los profesores, maestros, directores y/o integrante de los planteles académicos o para uso de Calmecac.me en general, declaran y aceptan que dicha información es de su propiedad, y que en caso de no serlo, tienen la debida autorización para poder usarla, publicarla y divulgarla. Por lo que en el supuesto, de que llegase a haber alguna reclamación por dicha información, Calmecac.me, sus creadores, integrantes y equipo de trabajo, no serán responsables del posible reclamo y/o pago por daños y perjuicios ocasionado por las acciones de los Usuarios. Si se presentase dicho reclamo, el equipo de Calmecac.me removerá cualquier tipo de información que viole las disposiciones establecidas en la legislación mexicana relativa a los derechos de autor, y el Usuario responsable, que haya hecho uso de esas imágenes y/o información será el único responsable de reparar el posible daño causado al tercero propietario de la información.</p>

