<% content_for :header do %>
  <h1>Aviso Legal</h1>
<% end %>

<div> 
  <h2><i>Aviso legal sobre los términos y condiciones del uso de <br />servicios ofrecidos por Calmécac</i></h2>
  <br />
  
  <p>
  Las presentes Condiciones Generales de Uso (en adelante, "Condiciones Generales") regulan la utilización de los servicios ofrecidos por calmecac.me que Calmécac pone a disposición de sus Usuarios a través de su plataforma.<br /><br />
  La utilización de la página web le atribuye la condición de usuario de la misma (en adelante, "el Usuario") e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en los presentes Términos y Condiciones de Uso, así como de la política de privacidad publicados en Calmécac, en el momento en el que el Usuario acceda a la web.<br /><br />
  En consecuencia, se recomienda al Usuario la lectura periódica de las mismas, ya que pueden estar sujetas a modificaciones.<br /><br />
  La utilización de ciertos servicios ofrecidos a los Usuarios a través de calmecac.me se encuentran sometidos a condiciones particulares propias (en adelante, "Condiciones Particulares") que, según los casos podrán sustituir, completar o modificar las presentes Condiciones Generales. Por tanto, con anterioridad a la utilización de los citados servicios, se recomienda al Usuario la lectura de dichas Condiciones Particulares.<br /><br />
  Debe usted ser mayor de edad o, en caso contrario, contar con la aprobación de sus progenitores, tutores o aquella persona que mantenga la patria potestad sobre su persona así como estar en plena posesión de sus facultades.
  </p>
  <br />

  <h3><i>Carácter gratuito del acceso y utilización de calmecac.me</i></h3><br />
  <p>  
    Los servicios principales que calmecac.me pone a disposición de los Usuarios tienen carácter gratuito.
  </p>
  <br />


  <h3><i>Información Personal</i></h3><br />
  </p>   
    El Usuario es el único responsable de la información contenida en su perfil personal y debe ser consciente de la posibilidad de visionado de los mismos por parte de terceros en caso de configurar su perfil como público. Asimismo, el Usuario es el único responsable de los datos e información que facilite en las comunicaciones con otros usuarios. Obviamente, Calmécac no puede controlar de manera exhaustiva dicha información. Sin embargo, si Calmécac tuviera conocimiento de que el Usuario está infringiendo la legalidad vigente, procederá de inmediato a cancelar su cuenta.
  </p>
  <br />

  <h3><i>Uso de los servicios ofrecidos por calmecac.me</i></h3><br /> 
  <p>  
  El Usuario se compromete a utilizar los servicios ofrecidos por calmecac.me de conformidad con la legislación vigente, las presentes Condiciones Generales, las Condiciones Particulares que se concreten para ciertos servicios y demás avisos, e instrucciones puestos en su conocimiento, así como con la moral y las buenas costumbres generalmente aceptadas y el orden público. A tal efecto, el Usuario se abstendrá de utilizar cualquiera de los servicios ofrecidos por calmecac.me con fines ilícitos, o que perjudiquen los derechos e intereses del resto de Usuarios, de terceros, o de Calmécac.
  </p>
  <br />

  <h3><i>Política Anti-Spamming de Calmécac</i></h3><br /> 
  <p>  
    El Usuario se obliga a abstenerse de:<br /><br />
  <div style="margin-left:40px">
  <ol type=a>
    <li>recabar datos con finalidad publicitaria y de remitir publicidad de cualquier clase y comunicaciones con fines de venta u otras de naturaleza comercial,</li>
    <li>poner a disposición de terceros, con cualquier finalidad, datos recabados en calmecac.me</li>
  </ol>
  </div>
  </p>
  <br />

  <h3><i>Contenidos facilitados por los Usuarios</i></h3><br /> 
  <p>
  El Usuario podrá colgar contenidos a través de calmecac.me  al objeto de que otros Usuarios o visitantes de calmecac.me puedan acceder y utilizar los mismos.
  El Usuario será el único responsable de los contenidos que facilite a calmecac.me y/o transmita a otros Usuarios. En este sentido, el Usuario garantiza ser titular de los derechos de propiedad intelectual e industrial necesarios para poder publicar y poner a disposición del resto de Usuarios y visitantes los contenidos facilitados a calmecac.me. Asimismo, el Usuario garantiza que tiene el derecho a conceder y de hecho concede una licencia a título gratuito de forma irrevocable, perpetua, no exclusiva, mundial, libre de cargas, para usar copiar, interpretar, mostrar, distribuir el contenido facilitado a calmecac.me, y a realizar obras derivadas, o a incorporar el contenido en otras obras, así como para conceder y autorizar licencias sobre todo lo anterior. <br />  <br />
  En particular, y a título meramente indicativo y no exhaustivo, el Usuario se compromete a no transmitir, difundir o poner a disposición de terceros contenidos que: <br />  <br />
  <div style="margin-left:40px">
  <ol type=a>
  <li>De cualquier forma sean contrarios, menosprecien o atenten contra los derechos fundamentales y las libertades públicas reconocidas constitucionalmente, en los tratados internacionales y en el resto de la legislación vigente.</li>
  <li>Induzcan, inciten o promuevan actuaciones delictivas, denigratorias, difamatorias, infamantes, violentas o, en general, contrarias a la ley, a la moral y las buenas costumbres generalmente aceptadas o al orden público.</li>
  <li>Induzcan, inciten o promuevan actuaciones, actitudes o pensamientos discriminatorios por razón de sexo, raza, religión, creencias, edad o condición.</li>
  <li>Incorporen, pongan a disposición o permitan acceder a productos, elementos, mensajes y/o servicios delictivos, violentos, ofensivos, nocivos, degradantes o,en general, contrarios a la ley, a la moral y a las buenas costumbres generalmente aceptadas o al orden público.</li>
  <li>Induzcan o puedan inducir a terceros un estado inaceptable de ansiedad o temor.</li>
  <li>Se encuentren protegidos por cualesquiera derechos de propiedad intelectual o industrial pertenecientes a terceros, sin que el Usuario haya obtenido previamente de sus titulares la autorización necesaria para llevar a cabo el uso que efectúa o pretende efectuar.</li>
  <li>Sean contrarios al derecho al honor, a la intimidad personal y familiar o a la propia imagen de las personas.</li>
  <li>Infrinjan la normativa dispuesta relativa al secreto de las comunicaciones.</li>
  <li>Sean relativos a la publicidad de sitios que sean competencia de calmecac.me o sus anunciantes.</li>
  <li>Se traten de publicidad ilícita, engañosa o desleal.</li>
  <li>Incorporen virus u otros elementos que puedan dañar o impedir el normal funcionamiento de la red, del sistema, o de equipos informáticos de Calmécac, de terceros, o de otros Usuarios.</li>
  <li>Provoque por sus características (tales como formato, extensión, etc.) dificultades en el normal funcionamiento de los servicios.</li>
  </ol>
  </div> <br />
  Calmécac se reserva el derecho de retirar de calmecac.me todos aquellos contenidos que no sean acordes con las presentes Condiciones Generales, con las Condiciones Particulares que para cada caso se puedan establecer y/o con la legalidad vigente. En ningún caso Calmécac estará obligada a justificar ante el Usuario la retirada de contenidos de calmecac.me.
  <br /><br />
  El Usuario deberá abstenerse de acceder a los contenidos empleando para ello programas, medios o procedimientos distintos de los que, según los casos, se hayan puesto a su disposición con este fin.  <br />  <br />
  Calmécac en ningún caso se hace responsable de los contenidos u opiniones manifestadas por un usuario en calmecac.me.
  </p>
  <br />

  <h3><i>Propiedad Intelectual e Industrial</i></h3><br />
  <p>  
    Todas las marcas, nombres comerciales, logotipos, signos distintivos de cualquier clase que aparecen en calmecac.me son propiedad de Calmécac o de terceros, sin que pueda entenderse que el uso y acceso a calmecac.me.y la utilización de sus servicios atribuya al Usuario derecho alguno sobre las citadas marcas, nombres comerciales, logotipos y signos distintivos.  <br />  <br />
  Asimismo, los contenidos que sean propiedad intelectual de Calmécac o de terceros, no podrán entenderse cedidos al Usuario, en virtud de lo establecido en estas Condiciones Generales ninguno de los derechos de explotación que existen o puedan existir sobre dichos contenidos más allá de lo estrictamente necesario para el correcto uso de los servicios de calmecac.me. Los únicos derechos de propiedad intelectual que se le conceden al Usuario son los inherentes al uso de los servicios propios de calmecac.me., quedando prohibida en todo caso la utilización comercial. Todas las marcas y logos aquí mencionados y expuestos están registrados por sus legítimos propietarios y se emplean únicamente a modo de referencia y con un fin de cita o comentario.
  </p>
  <br />


  <h3><i>Exclusión de garantías y de responsabilidad</i></h3><br />
  <p>
  <div style="margin-left:40px">
  <ol type=1>
  <li>Calmécac no garantiza la licitud, fiabilidad y utilidad de los contenidos. Calmécac excluye, con toda la extensión permitida por el ordenamiento jurídico, cualquier responsabilidad por los daños y perjuicios de toda naturaleza que puedan deberse a la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos, y en particular, aunque no de modo exclusivo, por los daños y perjuicios que puedan deberse a:</li> <br />
    <div style="margin-left:60px">
      <ol type=a>
      <li>El incumplimiento de la ley, la moral y las buenas costumbres generalmente aceptadas o el orden público como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos.</li>
      <li>La infracción de los derechos de propiedad intelectual e industrial, de los secretos empresariales, de compromisos contractuales de cualquier clase, de los derechos al honor, a la intimidad personal y familiar y a la imagen de las personas, de los derechos de propiedad y de toda otra naturaleza pertenecientes a un tercero como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos.</li>
      <li>La realización de actos de competencia desleal y publicidad ilícita como consecuencia de la transmisión, difusión, almacenamiento, puesta a disposición, recepción, obtención o acceso a los contenidos.</li>
      <li>La falta de veracidad, exactitud, exhaustividad, pertinencia y/o actualidad de los contenidos.</li>
      <li>La inadecuación para cualquier clase de propósito y la defraudación de las expectativas generadas por los contenidos.</li>
      <li>El incumplimiento, retraso en el cumplimiento, cumplimiento defectuoso o terminación por cualquier causa de las obligaciones contraídas por terceros y contratos realizados con terceros a través de o con motivo del acceso a los contenidos.</li>
      <li>Los vicios y defectos de toda clase de los contenidos transmitidos, difundidos, almacenados, puestos a disposición o de otra forma transmitidos o puestos a disposición, recibidos, obtenidos o a los que se haya accedido a través cuevana.tv o de los servicios.</li>  <br />
      </ol>
    </div>
  <li>Exclusión de garantías y de responsabilidad por la utilización Calmécac, de los servicios y de los contenidos por los Usuarios.</li>
  </ol>
  </div>
  <br />
  Calmécac no garantiza que los Usuarios utilicen los servicios y contenidos de calmecac.me de conformidad con las presentes Condiciones Generales y, en su caso, con las Condiciones Particulares que resulten de aplicación, ni que lo hagan de forma diligente y prudente. Calmécac tampoco garantiza que la veracidad de los datos que los Usuarios proporcionan sobre sí mismos bien en su perfil, bien directamente a otros Usuarios. Así mismo, Calmécac no garantiza que los contenidos colgados en calmecac.me por los usuarios cumplan con lo dispuesto en las presentes condiciones generales, con las particulares, y con la legalidad vigente.  <br />  <br />
  Calmécac excluye cualquier responsabilidad por los daños y perjuicios de toda naturaleza que pudieran deberse a la utilización de los servicios y de los contenidos por parte de los Usuarios, o que puedan deberse a la falta de veracidad, vigencia, o autenticidad de la información que los Usuarios proporcionan a otros Usuarios acerca de sí mismos y, en particular, aunque no de forma exclusiva, por los daños y perjuicios de toda naturaleza que puedan deberse a la suplantación de la personalidad de un tercero efectuada por un Usuario en cualquier clase de comunicación realizada a través calmecac.me.
  </p>
  <br />

  <h3><i>Denuncia ante Calmécac</i></h3><br />
  <p>
  En el caso de que cualquier Usuario, visitante, o un tercero considere que existen hechos o circunstancias que revelen el carácter ilícito de cualquier contenido en calmecac.me o de su utilización, deberá ponerse en contacto con Calmécac a través de <a class="vinculo" href="mailto:contacto@calmecac.me">contacto@calmecac.me</a>, o bien a través de la forma de <%= link_to "Contacto", contact_path, :class => 'vinculo' %> de calmecac.me, indicando siempre<br /><br />
  <div style="margin-left:40px">
  <ol type=i>  
    <li>los datos personales del reclamante (nombre y correo electrónico) y</li>
    <li>la supuesta actividad ilícita llevada a cabo en calmecac.me y su motivación que revelen dicho carácter ilícito.</li>
  </ol>
  </div>
  </p>
  <br />
  

  <h3><i>Retirada y suspensión de los servicios</i></h3><br />
  <p>
Calmécac podrá retirar o suspender en cualquier momento y sin necesidad de preaviso la prestación de servicios, procediendo a cancelar la cuenta, de aquellos Usuarios que incumplan lo establecido en las presentes Condiciones Generales.
  Duración y terminación.   <br />  <br />
  La prestación de los servicios que Calmécac  proporciona a través de calmecac.me tiene, en principio, una duración indefinida. No obstante, Calmécac está autorizada para dar por terminada o suspender la prestación de sus servicios en cualquier momento, sin perjuicio de lo que se hubiere dispuesto al respecto en las correspondientes Condiciones Particulares. En cualquier caso, si fuera posible, Calmécac procurará advertir previamente la terminación o la suspensión de cualquier servicio o de la totalidad de los mismos.
  </p>
  <br />

  <h3><i>Legislación aplicable</i></h3><br />
  <p>
  <p>Las presentes Condiciones Generales se rigen por la legislación mexicana. La interpretación y resolución de cualquier conflicto que se pueda derivar de la participación del Usuario en los servicios de calmecac.me estará sujeta a los Juzgados y Tribunales de México.</p><br />
  <p>Afirma acceder a este sitio como usuario de nuestros servicios por decisión propia.</p><br />
  <p>En ningún caso se podrá responsabilizar directamente o indirectamente al propietario ni a los colaboradores del ilícito uso de la información contenida en calmecac.me. Así mismo tampoco se podrá responsabilizar directamente o indirectamente a los mismos de un uso incorrecto o inapropiado de la información y servicios disponibles.</p><br />
 <p>El usuario de calmecac.me se hace responsable de acceder al material proporcionado desde los enlaces.</p><br />
 <p>En el caso de que el contenido de esta web sea ilegal en su país, usted se hace responsable de la entrada a calmecac.me.</p><br />
 <p>Todo el contenido de calmecac.me que no fue incluido por usuarios, ha sido extraído exclusivamente de sitios públicos de Internet (mencionados anteriormente), por lo que el material es considerado de libre distribución.</p><br />
  <p>La visita, acceso y uso de calmecac.me, sitio de carácter privado y no público, exige la aceptación del presente aviso.</p><br />
  </p>
  <br /> 
</div>
