<% content_for :header do %>
  <h1>Privacidad</h1>
<% end %>
<div>
  <p>
  <h2><i>Política de Privacidad</i></h2><br />
    Calmécac está comprometido en proteger la privacidad de nuestros usuarios. Esta declaración tiene como objeto informar a nuestros usuarios el uso que se le da a su información de identificación personal. Tomaremos las medidas razonables para proteger la privacidad del usuario dentro de los lineamientos establecidos en esta política. Al usar este sitio, usted da su consentimiento a la siguiente política de privacidad.
  </p><br /> <br />
  <h3><i>Información Personal</i></h3><br />
  <p>
     La información del usuario es obtenida al llenar la forma de registro o al autorizar el acceso mediante un servicio de terceros (Twitter o Facebook). En ningún momento la contraseña que define el usuario al registrarse es compartida a otros usuarios o a un tercero, ni siquiera los mismos desarrolladores tienen acceso a esas contraseñas o llaves proveídas previamente.<br />
  <br />
     Las cookies se utilizan para almacenar información sobre su sesión actual y otras preferencias. Esta información puede ser utilizada para monitorear el progreso del usuario y ofrecer una experiencia más personalizada. Las cookies se pueden desactivar o borrar en la configuración del navegador web.<br />
  <br />
    Actualmente el sitio no facilita datos a terceros de ninguna manera. Toda la información obtenida en este sitio es almacenada exclusivamente en los servidores de nuestra aplicación. En caso de cambiar este apartado, jamás se revelará información de nombres, usuarios o contraseñas de quienes están inscritos en este sitio.  <br /><br />
  <br />
     <h5><i>Política modificada por última vez el 14 de noviembre de 2011.</i></h5><br />
  <br />
  </p>

<h3>Privacidad de datos personales de los Usuarios</h3>

<p>
	La información proporcionada por el Usuario a Calmecac.me, es con el fin únicamente de control y mantenimiento del mismo sitio, almacenada exclusivamente en los servidores de la aplicación de Calmecac.me y sin fines de tratamiento de datos personales de los Usuarios. Por lo tanto, la recolección y almacenamiento de datos que realizan los Usuarios al registrarse y/o interactuar con el sitio, será usada única y exclusivamente por Calmecac.me, sus creadores, colaboradores, personal y/o representantes, y sin fines de divulgación o utilización comercial.
</p>
<br />
<h3><i>Cookies</i></h3>
<br />
<p>
	Las páginas del sitio Calmecac.me utiliza cookies, que son ficheros de datos que se generan en la computadora de los Usuarios y permiten obtener la información respecto de:
</p>
<br />
<ul>
	<li>La fecha y hora de la última vez que el usuario visitó nuestro sitio de internet.</li>
	<li>Las páginas visitadas por el usuario.</li>
	<li>Elementos de seguridad que intervienen en el control de acceso a las áreas restringidas.</li>
</ul>
<br />
<p>
	Los Usuarios tienen la opción de impedir la generación de cookies, mediante la selección de la correspondiente opción en su programa navegador. De cualquier manera, Calmecac.me, sus creadores, integrantes, colaboradores y/o representantes no se responsabilizan de que la desactivación de los mismos impida el buen funcionamiento de la página.
</p>
<br />
<p>
	Nos reservamos el derecho de modificar estas políticas de privacidad en cuando sea considerado necesario. Cualquier cambio será publicado en este espacio.
</p>
<br />
<p>
	EL USO DE CALMECAC.ME SIGNIFICA QUE USTED ESTA DE COMPLETAMENTE DE ACUERDO EN ESTAS POLÍTICAS DE PRIVACIDAD Y AVISO LEGAL.
</p>
<br />
</div>

