<div class='on-2 columns'>
  <div class='fixed column' style='width:55px'>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= @param %>" data-count="horizontal" data-via="calmecac_me">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </div>
<br />
  <div class='fixed column' style='width:83px'>
    <iframe src="//www.facebook.com/plugins/like.php?href=<%= @param %>&amp;send=false&amp;layout=button_count&amp;width=55&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:21px;" allowTransparency="true"></iframe>
  </div>
</div>