<div class='on-2 columns'>
  <div class='fixed column' style='width:55px'>
    <a href='http://twitter.com/home?status=Mira a este profesor en <%= @param %>' title='Click to send this page to Twitter!' target='_blank'><%= image_tag 'tweet_this.gif' %></a>
  </div>
  <div class='fixed column' style='width:83px'>
    <!--[if !IE 7]><!--><a name='fb_share' type='button_count' share_url='<%= @param %>' href='http://www.facebook.com/sharer.php'>Compartir</a><script src='http://static.ak.fbcdn.net/connect.php/js/FB.Share' type='text/javascript'></script><!--<![endif]-->
  </div>
</div>