<div class='on-2 columns'>
  <div class='fixed column' style='width:55px'>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= @param %>" data-text="Mira este profesor y califícalo en" data-via="calmecac_me" data-lang="es">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
<br />
  <div class='fixed column' style='width:83px'>
    <iframe src="//www.facebook.com/plugins/like.php?href=<%= @param %>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
  </div>
</div>
