<% title "Registrate" %>

<p>¿Ya estas registrado? <%= link_to "Inicia Sesión", login_path %>.</p>

<%= render 'form' %>

<script>
	$(function(){
		campus_universidades_autoomplete("#usuario_universidad_id","usuario[campus_id]", "usuario_campus_id");
	})
</script>
