<p>Hola <%= @usuario.username %>!</p>

<p>Alguien ha solicitado el cambio de contraseña en tu cuenta de Calmecac. En el siguiente link encontrarás los pasos.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@usuario, :reset_password_token => @usuario.reset_password_token) %></p>

<p>Si tu no lo solicitaste, ignora este correo.</p>
<p>Tu contraseña no cambiará a menos que acceses el link que pusimos antes</p>

<p>Atentamente,<br/>
Calmecac Team</p>
