
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es" dir="ltr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Calmecac</title>
  <link type="text/css" rel="stylesheet" media="all" href="../../../public/stylesheets/application.css" />
  <link type="text/css" rel="stylesheet" media="all" href="../../../public/stylesheets/elastic.css" />
  <script type="text/javascript" src="../../../public/javascripts/jquery.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="../../../public/javascripts/elastic.js" charset="utf-8"></script>
</head>
<body class="">
  
  <div class="main-container">
    
  <div class="unit content">
      
    <!-- Forma de busqueda -->
    <div class="unit search-form">
      <form name="search-form" class="columns on-4 busqueda">
        <div class="column"><input type="text" value="Universidad"/></div>
        <div class="column"><input type="text" value="Campus"/></div>
        <div class="column"><input type="text" value="Curso"/></div>
        <div class="column"><input type="text" value="Profesor"/></div>
      </form>
    </div>
    <!-- END: Forma de busqueda -->
    
    <!-- Cuenta de resultados -->
    <div class="unit result-count">
      <div class="container">
        Mostrando 1 de 50 resultados
      </div>
    </div>
    <!-- END: Cuenta de resultados -->
      
    <!-- Contenido principal -->
    <div class="unit">
      
      <!-- Ejemplo de entrada de profesor -->
      <div class="columns on-3 profesor-entry">
        <div class="container wrapper">
          <div class="column fixed image" style="width: 172px">
            <div class="container">
              <img src="../../../public/images/profesor.jpg" width="108" height="108"/>
            </div>
          </div>
          <div class="column fixed info">
            <div class="container">
              <h3>Santiago Conant</h3>
              <div class="universidades">
                <a href="#">ITESM</a> &gt; <a href="#">Campus Monterrey</a>
              </div>
              <div class="cursos">
                <a href="#">Ciencia Cognitiva</a>, <a href="#">Teor&iacute;a de la Computaci&oacute;n</a>
              </div>
            </div>
          </div>
          <div class="column fixed rating">
            <div class="container">dude</div>
          </div>
        </div>
      </div>
      <!-- END Ejemplo de entrada de profesor -->
      
    </div>
    <!-- END: Contenido principal -->
    
    <!-- Ver mas resultados -->
    <div class="unit more-results">
    <a href="#">ver m&aacute;s resultados</a>
    </div>
    <!-- END: Ver mas resultados -->
    
  </div>
  
  </div>
</body>
</html>
